@import "tailwindcss";

:root {
  --background: #dadada;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-neue-regrade);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-neue-regrade), Arial, Helvetica, sans-serif;
}

/* Desktop only */
@media (hover: hover) and (pointer: fine) {
  * {
    cursor: none;
  }

  a,
  button {
    cursor: none;
  }
}

/* Mobile & tablet */
@media (hover: none) and (pointer: coarse) {
  * {
    cursor: auto !important;
  }
}
